################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeKataPrimeStreaming/v17
/PrimeStreaming/.vs/PrimeStreaming
/PrimeStreaming/PrimeStreaming/bin/Debug/net8.0
/PrimeStreaming/PrimeStreaming/obj
/PrimeStreaming/PrimeStreaming.Specs/bin/Debug/net8.0
/PrimeStreaming/PrimeStreaming.Specs/obj
